
/* 
.Homepage {
  height: 100vh;
  overflow: hidden;
  display: flex;
  /* width: 100vh; */
  /* background: #663399; */
/* } */ 

/* .Button { */
  /* background: black; */
/* } */

.App {
  height: 100vh;

  background-image: url('./nav-video.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Announcement {
  padding: 5rem;

  font-family: serif;
  font-size: 5rem;
  color:#fff;
  text-align: center;

  text-shadow: 1px 1px #fff, 5px 5px #000;
}

.App {
  height: 100vh;

  background-image: url('./nav-video.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .Index{
  height: 100vh;

  background-image: url('./Index.svg');
  position: center;
  background-repeat: no-repeat; */

/* } */